/node_modules
/bower_components
/.idea
.project
.classpath
*.launch
.settings/
project/project
project/target
/.idea_modules
/*.iml
.DS_Store
Thumbs.db
/version.conf
logs
target
tmp
.history
dist
/out
/RUNNING_PID
/.vagrant
