@(nameStr: String, aiPlayers: Int, rounds: Int)

@main("RPSLS"){
<!--><meta http-equiv="refresh" content="1"></!-->
}{
    <h1>Playing RPSLS, @nameStr!</h1>
    <p>Number of AI players: @aiPlayers</p>
    <p>Number of rounds: @rounds</p>
    <form action="@routes.HomeController.rock" method="post">
        <input type="submit" value="Rock" />
    </form>
    <form action="@routes.HomeController.paper" method="post">
        <input type="submit" value="Paper" />
    </form>
    <form action="@routes.HomeController.scissors" method="post">
        <input type="submit" value="Scissors" />
    </form>
    <form action="@routes.HomeController.lizard" method="post">
        <input type="submit" value="Lizard" />
    </form>
    <form action="@routes.HomeController.spock" method="post">
        <input type="submit" value="Spock" />
    </form>
}
